* {
	box-sizing: border-box;
}
#logo{
	margin-left: .5%;
}
body {
	margin: 0;
	padding: 0;
}
/*backgrounds*/
.bg_tk {
	background-color: #FFF0F5;
  background-size: cover;
  font-family: Righteous;
}
@media screen and (max-width: 640px) {
 	.bg_tk {
 	color: white;
	background-color: #ff8585;
	background: url("tekoii_banner_vert.png") repeat-y;
    background-size: cover;
    font-family: Righteous;
 	} 
}


/*page headers*/
#in_head {
	text-shadow: 2px 2px black;
  animation: tk_move .2s infinite;
  float: right;
  margin-right: 1%;
	font-family: Righteous; 
}

/*animations & font*/
@font-face {
	font-family: Righteous; src: url('Righteous-Regular.ttf');
}		
@keyframes tk_move {
  	from {color: white;}
  	to {color: #FFFF8A;}
}
@keyframes da_move {
  	from {color: white;}
  	to {color: #77DD77;}
}
@keyframes yt_move {
  	from {color: white;}
  	to {color: red;}
}
@keyframes fb_move {
  	from {color: white;}
  	to {color: #0476D0;}
}
/*tk-links*/
a#tk_link:link { 
	color: white;
}
a#tk_link:visited { 
	color: white;
}
a#tk_link:hover{ 
	animation: tk_move .2s infinite;
	text-decoration: none;
}
a#tk_link:active {
  color: #FFFF8A;
}
.paragraph {
	margin: .7rem;
}
