* {
	box-sizing: border-box;
}
#logo{
	margin-left: .5%;
}
body {
	margin: 0;
	padding: 0;
}
/*backgrounds*/
.bg_tk {
	color: white;
	background: url("tekoii_banner.png");
  background-size: cover;
  font-family: Righteous;
}
.bg_yt {
	color: white;
	background-color: #ff8585;
	background: url("mario.png") repeat-y;
    background-size: cover;
    font-family: Righteous;
}
.bg_da {
	color: white;
	background-color: #5abf64;
	background: url("luigi_art.png") repeat-y;
    background-size: cover;
    font-family: Righteous;
}
/*page headers*/
#in_head {
	text-shadow: 2px 2px black;
  animation: tk_move .2s infinite;
  float: right;
  margin-right: 1%;
	font-family: Righteous; 
}
#yt_head {
	text-shadow: 2px 2px black;
	animation: yt_move .2s infinite;
	float: right;
	margin-right: 1%;
	font-family: Righteous; 
}
#da_head {
	text-shadow: 2px 2px black;
	animation: da_move .2s infinite;
	float: right;
	margin-right: 1%;
	font-family: Righteous; 
}
/*animations & font*/
@font-face {
	font-family: Righteous; src: url('Righteous-Regular.ttf');
}		
@keyframes tk_move {
  	from {color: white;}
  	to {color: #FFFF8A;}
}
@keyframes da_move {
  	from {color: white;}
  	to {color: #77DD77;}
}
@keyframes yt_move {
  	from {color: white;}
  	to {color: red;}
}
@keyframes fb_move {
  	from {color: white;}
  	to {color: #0476D0;}
}
/*tk-links*/
a#tk_link:link { 
	color: white;
}
a#tk_link:visited { 
	color: white;
}
a#tk_link:hover{ 
	animation: tk_move .2s infinite;
	text-decoration: none;
}
a#tk_link:active {
  color: #FFFF8A;
}
/*yt-links*/
a#yt_link:link { 
	color: white;
}
a#yt_link:visited { 
	color: white;
}
a#yt_link:hover{ 
	animation: yt_move .2s infinite;
	text-decoration: none;
}
a#yt_link:active {
  color: red;
}
/*da-links*/
a#da_link:link { 
	color: white;
}
a#da_link:visited { 
	color: white;
}
a#da_link:hover{ 
	animation: da_move .2s infinite;
	text-decoration: none;
}
a#da_link:active {
  color: #77DD77;
}
/*fb-links*/
a#fb_link:link { 
	color: white;
}
a#fb_link:visited { 
	color: white;
}
a#fb_link:hover{ 
	animation: fb_move .2s infinite;
	text-decoration: none;
}
a#fb_link:active {
  color: #0476D0;
}
.paragraph {
	margin: .7rem;
}
