* {
	box-sizing: border-box;
}
#logo{
	margin-left: .5%;
}
body {
	margin: 0;
	padding: 0;
}
/*backgrounds*/
.bg_tk {
	background-color: #000000;
  background-size: cover;
  font-family: Righteous;
}
@media screen and (max-width: 640px) {
 	.bg_tk {
 	color: white;
	background-color: #000000;
    background-size: cover;
    font-family: Righteous;
 	} 
}


/*page headers*/
#in_head {
	text-shadow: 2px 2px black;
  animation: tk_move .2s infinite;
  float: right;
  margin-right: 1%;
	font-family: Righteous; 
}

/*animations & font*/
@font-face {
	font-family: Righteous; src: url('Righteous-Regular.ttf');
}		
@keyframes tk_move {
  	from {color: white;}
  	to {color: #FFFF8A;}
}


